/**
 * @file
 * datepager component css
 *
 * @author Kate Heinlein
 */

.date-pager {
  font-size: 1.3em;
}

.date-pager h3 {
  display: none;
}

.date-pager ul {
  display: inline-block;
}

.date-pager ul ul {
  margin-left: 1ex;
  font-size: 0.9em;
}

.date-pager .item-list {
  display: inline-block;
}

.date-pager ul li {
  display: inline-block;
}
